@media only screen and (min-width: 1200px) {
    /* header */
  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .form-control-dark {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .text-small {
    font-size: 85%;
  }

  .dropdown-toggle {
    outline: 0;
  }
  .nav_logo{
    width: 170px;
    margin-right: 20px;
  }
  /* header */




  .carousel{
    margin: 30px;
  }
  .btn_offcanva{
    height: 30px;
    border: 1px solid rgb(116, 116, 116);
    background-color: white;
    color: black;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .offcanvas{
    width: 290px;
  }
  .option_block_a{
    color: black;
    text-decoration: none;
  }
  .option_block{
    margin: 10px;
  }
  .offres{
    text-align: center;
  }
    .offre_img{
      width: 300px;
      margin: 4px;
    
    }

    /* footer */
    .foter{
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      text-align: center;
    }
    .container{
      align-items: flex-end;
      
    }
    .b-example-divider {
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }
    .input{
    font-size: 15px;
    }
    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }
    .list-unstyled {
      margin-right: 40px;

    }
    .buttom_text{
      font-size: 15px;
      text-align: center;
      color: rgb(160, 160, 160);
    } 
    .col-2{
      /* font-size: 10px; */
    }
    /* footer */
}

@media only screen and (min-width: 600px) {

    /* header */
    .b-example-divider {
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }
    
    .form-control-dark {
      color: #fff;
      background-color: var(--bs-dark);
      border-color: var(--bs-gray);
    }
    .form-control-dark:focus {
      color: #fff;
      background-color: var(--bs-dark);
      border-color: #fff;
      box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
    }
    
    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }
    
    .text-small {
      font-size: 85%;
    }
    
    .dropdown-toggle {
      outline: 0;
    }
    .nav_logo{
      width: 170px;
      margin-right: 20px;
    }
    /* header */
    
    
    .carousel{
      margin: 30px;
    }
    .btn_offcanva{
      height: 30px;
      border: 1px solid rgb(116, 116, 116);
      background-color: white;
      color: black;
      border-radius: 5px;
      font-size: 18px;
      margin-left: 30px;
      margin-bottom: 30px;
    }
    .offcanvas{
      width: 290px;
    }
    .option_block_a{
      color: black;
      text-decoration: none;
    }
    .option_block{
      margin: 5px;
    }
    
    .offres{
      text-align: center;
    }
      .offre{
        /* width: 250px; */
        margin: 4px;
      
      }
    
 

}

@media only screen and (max-width: 600px) {
    /* header */
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}
.nav_logo{
  width: 170px;
  margin-right: 20px;
}
/* header */


.carousel{
  margin: 30px;
}
.btn_offcanva{
  height: 30px;
  border: 1px solid rgb(116, 116, 116);
  background-color: white;
  color: black;
  border-radius: 5px;
  font-size: 18px;
  margin-left: 30px;
  margin-bottom: 30px;
}
.offcanvas{
  width: 290px;
}
.option_block_a{
  color: black;
  text-decoration: none;
}
.option_block{
  margin: 5px;
}

.offres{
  text-align: center;
}
  .offre_img{
    width: 150px;
    margin: 4px;
  
  }


  /* footer */
.foter{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
}
.container{
  align-items: flex-end;
  
}
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
.input{
 font-size: 10px;
}
.bi {
  vertical-align: -.125em;
  fill: currentColor;
}
.list-unstyled {
  margin-right: 40px;

}
.buttom_text{
  font-size: 7px;
  text-align: center;
  color: rgb(160, 160, 160);
}
.col-2{
  font-size: 10px;
}
.col{
  font-size: 12px ;
  margin: auto;
}
/* footer */

}






















